@media screen and (width >= 768px) {
  .initial_config {
    display: flex;
    justify-content: center;
  }
}

.initial_config__container {
  padding: 2rem;
  max-width: 60rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.initial_config__fox {
  position: relative;
  padding: 1rem 1rem 3rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .initial_config__fox_image {
    filter: 
      drop-shadow(.125rem .125rem 0px var(--clr-surface-50))
      drop-shadow(-.125rem -.125rem 0px var(--clr-surface-50))
      drop-shadow(.125rem -.125rem 0px var(--clr-surface-50))
      drop-shadow(-.125rem .125rem 0px var(--clr-surface-50));
  }
}

.initial_config_list {
  list-style: none;
  padding: 0;
  margin: 3rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.initial_config_list > li {
  display: flex;
  align-items: start;
  gap: 1rem;
  flex-direction: column;
}

.initial_config_list > li label {
  width: 100%;
}

@media screen and (width >= 768px) {
  .initial_config_list > li {
    flex-direction: row;
    gap: .5rem;
  }

  .initial_config_list > li label {
    text-align: right;
  }
}

.initial_config_list > .initial_config_buttons {
  justify-content: end;
  flex-direction: row;
}
